@charset "utf-8";

h1 {
    text-align: center;
    font-size: 60px;
    font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
}

#sort_id{
    font-size: 30px;
    text-align: left;
}

.order{
    font-size: 25px;
}

.order2{
    font-size: 25px;
}